/* Core Styles */
*{
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  background-color: #322D30;
  color: #fff;
    /* font-family: 'Oxygen', sans-serif; */

    font-family: 'Questrial', sans-serif;

    /* font-family: 'Julius Sans One', sans-serif; */

    /* font-family: 'Roboto', sans-serif; */
}
.title {
  font-family: 'Julius Sans One', sans-serif; font-weight: bold;
}

h1, h2, h3, p {
  margin: 0;
  padding: .5em 0;
}

img {
  width: 100%;
}

.btn-blue {
  display: inline-block;
  text-decoration: none;
  background-color: #60A5F3;
  color: #17181A;
  padding: 14px 16px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn-blue:hover {
  background-color: #2988F2;
}
.btn-pink {
  display: inline-block;
  text-decoration: none;
  background-color: #F955A8;
  color: #17181A;
  padding: 14px 16px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn-pink:hover {
  background-color: #F8188A;
}


/* navbar */

nav.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  background-color: #60A5F3;
}

nav.navbar a {
  position: relative;
  display: inline-block;
  background-color: inherit;
  color: #201C1E;
  text-decoration: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  padding: 10px 0;
}
nav.navbar a:hover {
  background-color: #2988F2;
}

nav.navbar #menu {grid-area: 1/1/1/2;}
nav.navbar #home {grid-area: 1/2/1/4;}
nav.navbar #cart {grid-area: 1/4/1/5;}
nav.navbar #men {grid-area: 2/1/2/3}
nav.navbar #women {grid-area: 2/3/2/5}
nav.navbar #contact {display: none;}
nav.navbar #homedesktop {display: none;}
nav.navbar #about {display: none;}

nav.slidenav.hidden {
  display: none;
}

nav.slidenav {
  display: block;
  background-color: #322D30;
  position: absolute;
  top: 0;
  width: 65%;
  height: 100%;
}

nav.slidenav a {
  text-decoration: none;
  color: #D4D7DB;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}
nav.slidenav a:hover {
  background-color: #201C1E;
}


footer {
  background-color: #011123;
  min-height: 10vh;
}

footer img {
  margin-top: 5vh;
  width: 70%;
}



@media only screen and (min-width: 768px) {
  nav.navbar {
    grid-template-columns: 300px .5fr repeat(2, minmax(100px,1fr)) 3fr  repeat(2, minmax(100px,1fr)) minmax(50px, 100px);
  }
  nav.slidenav {display: block;}
  nav.navbar #home.mobile {display: none;} nav.navbar #homedesktop.desktop {display: inline-block; grid-area: 1/1/1/2; font-family: 'Julius Sans One', sans-serif; font-weight: bold;}
  nav.navbar #menu {display: none;}
  nav.navbar #men {grid-area: 1/3/1/4;}
  nav.navbar #women {grid-area: 1/4/1/5;}
  nav.navbar #contact {display: inline-block; grid-area: 1/7/1/8;}
  nav.navbar #about {display: inline-block; grid-area: 1/6/1/7;}
  nav.navbar #cart {grid-area: 1/8/1/9;}

  nav.navbar a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F8188A;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  nav.navbar a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  footer {
    display: grid;
    grid-template-columns: 1fr minmax(auto,20em) 1fr;
  }

  footer img {
    grid-column-start: 2;
    width: 100%;
    margin-top: 10px;
  }

}
