/* Core Styles */
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;


    /* font-family: 'Oxygen', sans-serif; */

    font-family: 'Questrial', sans-serif;

    /* font-family: 'Julius Sans One', sans-serif; */

    /* font-family: 'Roboto', sans-serif; */

}
a, a:hover, a:active, a:focus {
  outline: none;
}

.bg-image {
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* buttons */
.btn1 {
  display: inline-block;
  padding: 14px 16px;
  background: none;
  border: 1px solid #888;
  border-radius: 20px;
  color: #f2f2f2;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.32);
  transition: box-shadow .5s cubic-bezier(.25,.8,.25,1);
}
.btn1:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.48), 0 1px 2px rgba(0,0,0,0.64);
  position: relative;
  border: 1px solid white;
  color: white;
}
.btn1:active{
  position: relative;
  top: 0;
  opacity: 0.3;
}

.btn2 {
  display: block;
  border: 1px solid #888;
  border-radius: 15px;
  padding: 15px;
  text-decoration: none;
  color: #f2f2f2;
  background: rgba(0,0,0,.33);
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.32);
  transition: background 1s ease-out, color .5s ease-out;
}

.btn2:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.48), 0 1px 2px rgba(0,0,0,0.64);
  background: rgba(255,255,255,.5);
  color: #333;

}

/* Top area */

#showcase {
  min-height: 33.3vh;
  display: grid;
}
.bg-image {
  position: absolute;
  background: #333 url("/images/shirts2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .1;
  min-height: 620px;
}

#showcase .navbar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}
#showcase .navbar li {
  margin: 0;

}
#showcase .navbar li a {
  width: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  display: inline-block;
  /* background: red;
  padding: 5px 5px; */

  position: relative;
}

#showcase .navbar li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#showcase .navbar li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#showcase .content-wrap {
  padding: 0 15px;
  margin: 0;

}

#showcase .content-wrap h1 {
  margin: 0px;
  font-size: 32px;


}

#toshop {
  margin-bottom: 100px;

}
#toshop div {
  position: relative;
  width: auto;
  background-color: none;
  /* border-radius: 15px; */
  margin: 20px;
  /* padding: 15px; */
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.48); */
}


.dummycontent {
  background: white;
  color: #333;
  margin: 0;
}
/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    /* grid-template-columns: 1fr repeat(5,minmax(auto, 12em)) 1fr; */
    grid-template-columns:
      1fr
      repeat(2,minmax(auto,15em))
      1fr
      repeat(2,minmax(auto,15em))
      1fr;
  }
  #showcase.grid {
    min-height: 50vh;
    grid-template-rows: 100px 1fr;
  }
.bg-image {
    position: fixed;
  }
  #showcase .navbar {
    grid-column: 3/6;
  }
  #showcase .content-wrap {
    grid-row-start: 2;
    grid-column: 2/7;
  }
  #showcase .content-wrap h1 {
    font-size: 42px;
    margin: 25px;
  }

  #toshop {
    min-height: 50vh;
    margin-bottom: 0px;
  }

  #toshop div {
    margin-bottom: 100px;
  }

  #toshop div.men {
    position: relative;
    grid-column: 2/4;
  }

  #toshop div.women {
    grid-column: 5/7;
  }

  #dummy {
    padding: 10px;
    grid-column: 3/6;
  }
}
